.card-container{
    margin-bottom: 2rem;
    width: 250px;
    height: auto;

color: black;
border:5px solid pink;
padding-top: 20px;
padding-bottom: 15px;
font-family: 'Quicksand', sans-serif;

}
.add:hover {
    cursor: pointer;
    color: gold;
}
