.card-container{
    margin-bottom: 2rem;
    width: 250px;
    height: auto;

color: black;
border:5px solid pink;
padding-top: 20px;
padding-bottom: 10px;
font-family: 'Quicksand', sans-serif;
padding-right: 0px;
}
.add:hover {
    cursor: pointer;
    color: gold;
    
}
.card-container:hover{
    border-color: green;
    
}

@media(max-width:700px){
    .card-container{
        margin-bottom: 0.5rem;
        width: 200px;
    }
}