.mapped-items{
    
    height: 85vh;
    display: grid;
    grid-template-columns: 270px 270px 270px ;
    overflow-y: scroll;
    overflow-x: hidden;



    
}

.shop-button{
    // padding-bottom: 10px;
 
    border-radius: 15px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;
    
    background-color: pink;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: bisque;
    border-width: 2px;
    margin-bottom: 5px;
   
text-align: center;
}
.shop-button:hover{
cursor: pointer;
color:green;


}

.cards{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.buttons{

    width: 10vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch; 
    margin-left: 30px;
    z-index: 1;
  
    padding-top: 20px;
    
   
}




.loader{
margin-top: 100px;

}


.selected{

 font-size: 25px; 

padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  font-family: 'Calistoga', cursive;
  color:rgb(16, 99, 16);
  margin-top: 15px;
  

}
.sort{
    font-family: 'Alata', sans-serif; 
    margin-bottom:15px; 
    font-size: 20px;  
}


.whole{
    width: 100vw;
    height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;

    
}
.greeting{
 padding-top: 5px;   
 font-family: 'Alata', sans-serif; 
}
.inside-header{
    
    // padding-right: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
 
}
h3{
    // border-bottom: pink;
    // border-width: 2px;
    // border-bottom-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
   
}



.right-container{
    height: 75vh;
    width: 10vw;
padding-left: 15px;
display: flex;
}
.left-container{
    height: 75vh;
    width: 10vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}

@media (max-width:1006px){
    .mapped-items{
    grid-template-columns: 270px 270px; 
    }
}
@media (max-width:739px){
    .mapped-items{
    grid-template-columns: 270px; 
    }
}