.register-link{
    color: blue;
    text-align: center;;
}
.p{
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    width: fit-content;
}
.cart-link{
    color:green;
}
.cart-link:hover{
    color:orange;
}