.register-body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-size: 50px;
}

.register-form {
width: 20vw;
height: 50vh;
border-style: solid;
border-color: bisque;
background-color: bisque;
display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
  border-radius: 25px;
  margin-top: 20px;
}

::placeholder{
  color:pink;
}