.register-body {

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./login-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-size: 30px;
  color: pink;
}

.register-form {
  background: rgba(205, 205, 198, 0.5);
width: auto;
height: 40vh;
border-style: solid;
border-color: bisque;
// background-color: bisque;
display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  border-radius: 25px;;
  margin-top: 30px;
padding: 20px;

}

::placeholder{
  color: pink;
}
.register{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}